a{
    text-decoration:none;
}

ul li{
    list-style-type: none;
}

body p{
  font-size: 14px;
  color: #424242;
  font-weight:400;
  font-family: 'Open Sans', sans-serif;
}

body h1,h2,h3,h4{
  color:#DAB35F;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

/*NAV*/
nav ul li a {
    color:#DAB35F;
    font-size:12px;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
}
NAV a:hover{
  color: #f44336;
}
nav {
  padding:20px !important;
}

.navbar-brand >img {
    height:120px;
    width: 200px;
}

.Btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font: size 12px;
  background: #DAB35F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.Btn:hover {
  background: #f44336;
  text-decoration: none;
  color:#ffffff;
}


   /*PARALLAX*/     
.slider { 
    background-image: url("../img/home.png") ;
    background-position:center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 99.7vw;
    box-sizing: border-box;
    transform-style: inherit;
    text-align: center;
}

.slider-content >h1{
  color:#DAB35F;
  font-weight: 700;
  font-size:40px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.slider-content >p{
  font-size:16px;
  color:#fafafa;
  font-weight:300;
  text-align: center;
}

.slider-content{
  margin-top:140px;
  text-shadow:black 1px;
  text-align: left;

}
 
/*BIOGRAFIA*/
.bio-img >img{
    max-width: 400px;
    max-height:700px;
    margin-top:-50px;
}
.bio-text{
  padding: 40px;
}

.bio-text >p{
  margin-top:30px;
}
.bio{
  margin-bottom: 50px;
  padding-top:100px;
  padding-bottom: 50px;
}

.bio-text >h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


/*CTO*/
.bg-cto{
  background-image: url("../img/bg-cto.png") ;
  background-position:center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.box-cto{
  margin:50px;
  padding:60px;
  text-align: center;
}
.box-cto >P{
  font-size: 16px;
}
.box-cto >h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/*SHOWS*/
.show-box{
  text-align: center;
  margin: 50px;
  padding: 50px;
}

.show-item >h3{
  font-size:16px;
  margin:20px;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
}

.show-item {
 padding: 10px;
}

.material-icons{
  font-size: 40px !important;
  color:#fafafa;
  background-color:#DAB35F;
  padding:30px;
  border-radius: 50%;
}

  /*FOTOS*/
  .midia-foto{
    margin: 50px;
  }

  .midia-foto >h2{
    margin: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0 auto;
    padding: auto;
}
.gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: .85;
    cursor: pointer;
}
.gallery-item:hover {
    opacity: 1;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-content {
    font-size: .8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;              
    overflow: auto;
    top: 0;
    left: 0;
}
.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
}
.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 7px;
    top: 45%;
    cursor: pointer;
}
.lightbox-prev {
    left: 0;
}
.lightbox-next {
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}

@media (max-width: 767px) {
    .gallery-container {
        width: 100%;
    }
    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}
@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}

/*VIDEOS*/
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.video-container {
position: relative;
padding-bottom: 67%;
}

.video-play,
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
pointer-events: none;
}


/*DEPOIMENTOS*/
.testimonials{
    margin:80px;
    padding:80px;
    text-align: center;
}
.depoimentos{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.depoimentos{
  margin-bottom:60px;
}

.testi-item >h4{
  margin:20px auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.testi-item >img{
  width:70px;
  height:70px;
}

/*FORM*/
.form-contact {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.form-contact-input {
  width: 100%;
  color:grey;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  text-indent: 20px;
}



.form-contact-textarea {
  width: 100%;
  color: grey;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;;
  border-left: 1px solid #ffffff;;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Open Sans', sans-serif;
}
  

.form-contact-button {
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #f44336;;
  display: block;
  border: none;
  border-bottom: 1px solid #f44336;
  border-right: 1px solid #f44336;;
  transition: 1s;
}

.form-contact-button:hover {
  opacity: 1;
}

.contato{
  background-color:#DAB35F;
  padding:100px;
  align-items: center;
  text-align: center;
  
}
.contato ul li {
  display: inline;

}

.contato li+li{
  margin-left:15px;
}
.contato ul{
  margin:20px;
}

.form >h2{
  color:#fafafa;
  text-align: center;
  margin-top: -20px;
  margin-bottom:30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.ContatoDados{
  padding:100px ;
  text-align:left;
}
.ContatoDados >p{
  color:#fafafa;
  font-size:14px;
}

